*${1:name}.txt*  ${2:short-description}

Author:  ${3:author} <${4:email}>  *$1-author*
License: Same terms as Vim itself (see |license|)

This plugin is only available if 'compatible' is not set.

INTRODUCTION                                    *$1*

$2

FEATURES                                        *$1-features*

CONFIGURATION                                   *$1-configuration*

ISSUES                                          *$1-issues*

 v*im:tw=78:ts=8:ft=help:norl:
